@use "sass:math";

* {
  cursor: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.cursor {
  position: fixed;
  background-color: #2128bd;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: -10px 0 0 -10px;
  will-change: transform;
  user-select: none;
  pointer-events: none;
  z-index: 100;
}

.shapes {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #2128bd;
  overflow: hidden;

  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;

    $shapes: (
      #005ffe: 650px,
      #ffe5e3: 440px,
      #ffcc57: 270px,
    );

    @each $color, $size in $shapes {
      &.shape-#{index($shapes, ($color $size))} {
        background-color: $color;
        width: $size;
        height: $size;
        margin: math.div(-$size, 2) 0 0 math.div(-$size, 2);
      }
    }
  }
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  mix-blend-mode: screen;

  h1 {
    color: black;
    margin: 0;
    font-size: 8em;
  }

  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 4em;
      text-align: center;
    }
  }
}

.credits {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  h4 {
    color: black;
    font-weight: 400;
    text-align: center;
  }
}
